.pageContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: grey;
}

.textContainer {
  text-align: center;
  border-color: black;
  border-radius: 8;
  border-width: 1;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20px;
  width: 69%;
}

.codeText {
  color: white;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.descriptionText {
  font-size: 24px;
}

.buttonContainer {
  flex-direction: row;
  align-items: flex-end;
  border-color: black;
  border-radius: 8;
  border-width: 1;
  border-style: solid;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: 20px;
  background-color: grey;
}

.nextButton {
  color: black;
  font-size: 24px;
  padding: 8px;
  line-height: 28px;
  background-color: grey;
  text-decoration: none;
}
