<!DOCTYPE html>
<html>
  <!-- {% if session == false %}
  <script type="text/javascript" src="../js/RedirectToLogin.js"></script>
  {%endif%} -->
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/addDevice.css" />
    <title>Add New Device</title>
  </head>
  <body class="pageContainer">
    <div class="textContainer">
      <p class="descriptionText">
        In order to connect your device to IoT-Manager and bind it to your
        account, you need to run the following command in your device's
        terminal:
      </p>
      <p class="codeText descriptionText">
        ssh -R 1234:localhost:22 antonis@192.168.1.15
      </p>
      <p class="descriptionText">
        After you have ran the command, please press "NEXT" to continue
      </p>
    </div>
    <div class="buttonContainer">
      <form action="/verify_device" method="post">
        <input class="nextButton" type="submit" value="Next" />
      </form>
    </div>
  </body>
</html>
