<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <title>SSH Command Execution</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if session %}
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/login">Sign Up</a>
          {% endif %}
        </div>
      </div>
    </nav>
    {% if session %}
    <div class="homeContainer">
      <h1>SSH Command Execution</h1>
      <h1>Welcome {{session.userinfo.name}}!</h1>
      <h1>UserID: {{session.userinfo.sub}}</h1>
      <h1 style="margin-top: 30px;">Please connect your device to port {{port}}</h1>
      <p>Click the button to execute an SSH command</p>
      <form action="/ssh_command" method="post">
        <input type="submit" value="Execute Command" />
      </form>
      <pre>{{ result }}</pre>
    </div>
    {% else %}
    <div class="pageContainer">
      <div class="loginContainer">
        <h1 class="loginText">Welcome to IoT-Manager</h1>
        <h2>
          IoT-Manager is a project developed as a Master's thesis for the
          Computer Engineering and Informatics Department of the University of
          Patras
        </h2>
        <h2>
          With IoT-Manager, the user can register IoT Devices running linux to
          his account and directly control them through the web application
        </h2>
      </div>
    </div>
    {% endif %}
  </body>
</html>
